/* Interativo drag n drop */

.game-body {
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 20px;
    /* margin: 100px 0px 30px; */
}

.card {
    display: inline-block;
    height: auto;
    margin: 10px;
    /* box-shadow: 2px 2px 3px #333; */
    width: 135px;
    background-position: center;
    background-size: 152px;
    background-repeat: no-repeat;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: none;
}
.slot > .card > img{
    width: 100px;
}
/* .card img { 
    width: 134px;
    height: 134px;} */

/* .card:hover {
    box-shadow: 5px 5px 6px #333;
} */
.card p {
    color: black !important;
}



.game-descricao {
    background-color: #fff;
    padding: 0px 0 10px 45px;
    margin-top: 20px;
    border-radius: 30px;
}

.game-descricao-img {
    position: relative;
}

.game-itens-container {
    margin: 0 !important; padding: 25px 0;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;background-color: #fff;max-width: calc(100% - 24px);margin-left: auto !important;margin-right: auto !important;
}
.game-descricao-img img {
    width: 100px;
    position: absolute;
    left: -50px;
}

.game-descricao p {
    color: #333 !important;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: initial;
}
.game-body .slot {
    position: relative;
    height: auto;
    width: 100%;
    background-color: transparent;
    border: 3px dashed #018085;
    border-top-color: white;
    border-top-style: dashed;
    border-top-width: 1px;
    color: #333;
    display: inline-block;
    text-align: center;
    padding-bottom: 22px;
    padding-top: 22px;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 230px;
    min-height: 330px;
    margin: auto;
    display: block;
    
  }
.game-titulo p {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
.game-titulo {
    background-color: #018085;
    padding: 3px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    max-width: 230px;
    display: block;
    margin: auto;
  }
.ui-droppable p {
    font-size: 18px;
}

#slots{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
#slots .row,
#cardPile .card{ cursor: move;}
#cardPile .card:hover{ opacity: 0.8;}
    #cardPile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0;
    margin-top: 0 !important;
    padding-top: 0;
}
#content-game {
    max-width: 928px;
    margin: auto;
    margin-top: 45px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.modal-header {
    background-color: #008086;
color: white;
}

/* Para não permitir o drag de novo de objetos que já estão posições corretas */
.slot * {
    pointer-events: none;
    touch-action: none;
}

/* Para não exibir pra onde o usuário vai levar o card. */
.slot .gu-transit {
    display: none;
}

@media (max-width:560px) {
    /* #bgmodal-acerto .modal-content{
        margin-top: -200%;
    }
    #bgmodal-erro .modal-content{
        margin-top: -200%;
    } */
    #slots .col-12.col-md-4.mt-3.mb-3{
        margin-bottom: 5px !important;
        margin-top: 5px !important;
    }
    #slots .row, #cardPile{
        padding-top: 5px !important;
        margin-bottom: 5px !important;
    }
    .game-body .slot, .game-titulo{
        max-width: 100%;
    }
    .card {
        display: inline;
    }
}
